


<table class="table">

  <thead>
    <tr>
      <th scope="col">#</th>
      
      <th scope="col">Postulantes</th>
      <th scope="col">Dni</th>
      <th scope="col">Telefono</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      @* <th scope="col">Empresa</th> *@
    </tr>
  </thead>

@foreach (var item in ViewBag.PostulantesList)
{
  <tbody>
    <tr>
      <th scope="row">@item.ID</th>
      
      <td>@item.Nombre</td>
      <td>@item.DNI</td>
      <td>@item.Telefono</td>
      <td>@item.Email</td>
      <td><button type="button" class="btn btn-warning">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
      <button type="button" class="btn btn-success">@* <a asp-action="Eliminar" asp-controller="Empresas" asp-route-id="@item.ID">Delete</a> *@Details</button></td>
    </tr>
  </tbody>
}

</table>
<button type="button" class="btn btn-primary"><a class="nav-link text-light" asp-action="ConsultarEmpresas" asp-controller="Empresas">Consultar empresas</a></button>
