@model List<Empresa>


<table class="table tableborder">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Empresas</th>
      <th scope="col">Rubro</th>
      <th scope="col">Telefono</th>
      <th scope="col">Email</th>
      <th scope="col">Postulantes</th>
      <th scope="col"></th>
      
    </tr>
  </thead>

@foreach (var item in ViewBag.EmpresasList)
{
  <tbody>
    <tr>
      <th scope="row">@item.ID</th>
      <td>@item.NombreEmpresa</td>
      <td>@item.Rubro</td>
      <td>@item.Telefono</td>
      <td>@item.Email</td>
      <td>@item.Postulantes.Count</td>

      <td><button type="button" class="btn btn-warning"><a asp-action="Editar" asp-controller="Empresas" asp-route-id="@item.ID">Edit</a> </button>
      <button type="button" class="btn btn-danger"> <a asp-action="Eliminar" asp-controller="Empresas" asp-route-id="@item.ID">Delete</a> </button>
      @* <button type="button" class="btn btn-success"> <a asp-action="Eliminar" asp-controller="Empresas" asp-route-id="@item.ID">Delete</a> Details</button></td> *@
      <button type="button" class="btn btn-success"> Details</button></td>
      
      @* @foreach (var p in item.Postulantes)
      {
            <td>@p.Nombre</td>
      } *@
    </tr>
    </tbody>
}

</table>
          

<button type="button" class="btn btn-primary"><a class="nav-link text-light" asp-action="ConsultarPostulantes" asp-controller="Postulantes">Consultar Postulantes</a></button>



        


    
